@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  transition: 150ms;
}

body {
  font-family: "Raleway", sans-serif;
  text-align: center;
  background-color: rgb(255, 255, 255);
  /* background-image: url("rps.png");
  background-repeat: no-repeat;
  background-size: cover; */
}

h1 {
  margin: 2rem;
  font-size: 5rem;
  max-width: 50vw;
}

h1:hover {
  background-color: black;
  color: aliceblue;
  transform: scale(1.02);
}

.container,
h1 {
  margin: 3rem auto;
  padding: 2rem;
  max-width: 50vw;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* From https://css.glass */
  background: rgba(80, 80, 80, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(80, 80, 80, 0.3);
}

.container:hover {
  background-color: rgb(234, 234, 235);
  color: aliceblue;
  transform: scale(1.03);
}
#result {
  color: black;
}
.game {
  padding: 1rem;
}
#p1-score {
  color: darkblue;
}

#p2-score {
  color: orangered;
}

.choice {
  margin: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 5rem;
}

.choice:hover {
  background-color: black;
  color: aliceblue;
}
